*{
  margin: 0;
  padding: 0;
  background-color: rgb(14, 20, 48);
  font-family: 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

h1{

  /* width: 100%;
  height: 50px; */
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


